/* Top Menu */
.dropdown-submenu {
     position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.btn-back {
    margin-top: 2%;
    margin-bottom: 2%;
}

.btn-logout,
.btn-normal {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: rgba(0, 0, 0,.5);
    padding-right: 50px;
    text-decoration: none;
}

.btn-logout:hover,
.btn-normal:hover {
    color: rgba(0,0,0,.7);
    text-decoration: none;
}

.btn-logout:focus {
    outline: none;
}

.marker-logout {
    list-style-type: none;
}

.marker-link {
    padding-right: 50px;
    color: rgba(0, 0, 0,.5);
    text-decoration: none;
}

.search-form {
    margin-left: 2%;
}

.search-header {
    text-align: center;
    margin: 2% 0 2% 0;
}

.search-container {
    border-top: 3px double #ccc;
}

.search-wrapper {
    margin-bottom: 4%;
}

.search-table {
    display: flex;
    border-collapse: collapse;
}

.search-delimeter {
    border-left: 1px dotted #aaa;
}

.search-button {
    margin-top: 50%;
}

.header-center {
    text-align: center;
}

/* Slider */

.carousel {
    width: 100%;
    height: 300px;
}

.carousel-item {
    background-color: #ccc;
}

.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-fluid {
    width: 100%;
    height: 300px;
}

.carousel-header {
    color: #eee;
}

/* AdMenu */

.ad-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 1px dashed #ddd;
    border-left: 1px dashed #ddd;
}

.pop-up {
    font-size: 0.8em;
    display: none;
    position: absolute;
    width: 200px;
    height: 40px;
    border: 1px solid #333;
}

.pop-up-text,
.item-header
{
    margin:0;
    padding:0;
}

/* Start page - Content */
.group-categories {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15%;
}

/* Article page */
.comments-display {
    margin-top: 2%;
}

.comment-box {
    width: 100%;
}

.comment {
    padding: 2%;
    background-color: lightgray;
    border-radius: 2%;
    margin-top: 2%;
}

.comment-child {
    width: 90%;
    margin-top: 2%;
    margin-left: 2%;
    background-color: lightgray;
}

.comment-author {
    font-weight: bold;
}

.comment-likes {
    margin-top: 5%;
}

.comment-like,
.comment-dislike,
.comment-value,
.comment-edit
{
    margin-top: 5%;
    padding: 1%;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.comment-like {
    background-color: green;
}

.comment-dislike {
    background-color: red;
}

.comment-value {
    padding: 1% 1.5% 1% 1%;
    border-radius: 30%;
    background-color: #1f648b;
    cursor: auto;
}

.comment-edit {
    background-color: #c7254e;
}


/* Modal window */

#bg_popup {
    position: fixed;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

#popup {
    background:#fff;
    width: 350px;
    margin: 25% auto;
    padding: 5px 20px;
    position: relative;
}

.close {
    display:block;
    position:absolute;
    top:5px;
    right:5px;
    width:20px;
    height:20px;
    color:#555;
    background:#1BA600;
    cursor:pointer;
}

.article-block {
    float: left;
}

.article-image {
    width:100%;
}

.article-warning {
    font-weight: bold;
    color: red;
}

.article-tagblock {
    margin: 5% 0 5% 0;
}

.article-tag {
    border: 1px solid #333;
    border-radius: 20%;
    padding: 0.3em;
    margin-left: 2%;
    cursor: pointer;
    background-color: paleturquoise;
}

.edit-form {
    display: none;
}

.comment-answer {
    margin-top: 2%;
    padding: 0;
}

.comment-answer-link {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.comment-answer-block {
    margin-bottom: 20%;
}

.answer-comment-form {
    display: none;
}

.visit-stats {
    float: right;
}

.now-reading,
.total-readers
{
    float: left;
}

.visit-text {
    font-size: 24px;
    padding-left: 20px;
}